<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Dojo Survey</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <form class="col-md-12 form-horizontal" action="/result", method="post">
        <div class="form-group">
          <label for="name">Your Name:</label>
          <input type="text" name="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="location">Dojo Location:</label>
          <select class="form-control" name="location">
            <option value="Seattle">Seattle</option>
            <option value="San Jose">San Jose</option>
            <option value="Boise">Boise</option>
            <option value="Chicago">Chicago</option>
            <option value="New York">New York</option>
            <option value="Salt Lake City">Salt Lake City</option>
          </select>
        </div>
        <div class="form-group">
          Favorite Language:
            <select name="language" class="form-control">
              <option value="Python">Python</option>
              <option value="JavaScript">JavaScript</option>
              <option value="C#">C#</option>
              <option value="Java">Java</option>
            </select>
        </div>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" name="comment" cols="30" rows="10"></textarea>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <!-- <form action="/result", method="post">
      Your Name: <input type="text" name="name">
      Dojo Location: 
        <select name="location">
          <option value="Silicon Valley">Silicon Valley</option>
          <option value="Seattle">Seattle</option>
          <option value="Los Angeles">Los Angeles</option>
          <option value="Dallas">Dallas</option>
          <option value="Washington DC">Washington DC</option>
          <option value="Chicago">Chicago</option>
          <option value="Tulsa">Tulsa</option>
        </select>
      Favorite Language: <select name="language">
        <option value="Python">Python</option>
        <option value="C#">C#</option>
        <option value="C++">C++</option>
        <option value="Java">Java</option>
        <option value="Javascript">Javascript</option>
        <option value="Visual Basic">Visual Basic</option>
        <option value="Rust">Rust</option>
      </select>
      <p>Comment (optional)</p>
      <textarea name="comment"></textarea>
      <button class="btn waves-effect waves-light" type="submit">Submit</button>
    </form> -->
  </div>
  <!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
    });
  </script> -->
</body>
</html>